<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>解析xml示例</title>

    <script src="../../static/js/jquery-1.11.3/jquery.min.js"></script>
    <script src="../js/ReadXml.js"></script>

</head>
<body>
    <button id="readLocalXmlFile" onclick="readXMLFile()">ReadLocalXmlFile</button>
    <button id="readXmlString" onclick="readXMLString()">ReadXmlString</button>
    <button id="jqueryReadXmlFile" onclick="ajaxLoadXmlFile()">JQueryReadXmlFile</button>
    <button id="jqueryReadXmlString" onclick="ajaxLoadXmlString()">JQureyReadLocalXmlString</button>
</body>
</html>